* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* maincolor: #52C19F,#0CA677,#00855D,#c3fae8,#e6fcf5
grecolor:  #495057,#192129,#636A71 */
body {
  font-family: "Nunito", sans-serif;
}
.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.lamp {
  font-size: 24px;
  color: #0ca677;
}
.log {
  font-size: 24px;
  color: #192129;
}
.cont {
  display: flex;
  gap: 20px;
}
.cont a {
  text-decoration: none;
  font-size: 20px;
  color: #192129;
}
.cont i {
  font-size: 20px;
  color: #192129;
}
.footer {
  width: 100%;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e6fcf5;
}
.bot {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.three {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.edul {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
h3 {
  font-size: 24px;
  color: #192129;
}
.loremm {
  font-size: 16px;
  color: #192129;
}
.io {
  display: flex;
  gap: 10px;
}
.io i {
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 5px;
}
#fab {
  margin-left: 10px;
}
.ico {
  background-color: #0ca677;
  width: 30px;
  height: 30px;
}
.qucik {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.qucik a {
  text-decoration: none;
  font-size: 20px;
  color: #192129;
}
.news {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form label {
  font-size: 20px;
}
.form input {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  border: 2px solid #0ca677;
}
.form button {
  width: 50%;
  font-size: 20px;
  padding: 5px 15px;
  color: #0ca677;
  background-color: #e6fcf5;
  border: 2px solid #0ca677;
}
.heading {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("images/heading-bg.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.ha {
  text-decoration: none;
  font-size: 24px;
  color: #0ca677;
}
.hb {
  text-decoration: none;
  font-size: 24px;
  color: #495057;
}
h1 {
  font-size: 52px;
  color: #192129;
}
.hero {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  margin: 0 auto;
  gap: 10px;
}
.rig {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
h2 {
  font-size: 32px;
  color: #192129;
}
.lorem {
  font-size: 20px;
  color: #495057;
}
.boy {
  display: flex;
  gap: 10px;
}
.qwer {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 33%;
  border: 3px solid #0ca677;
  background-color: #e6fcf5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.teach {
  font-size: 32px;
  color: #192129;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}
.uvhta {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.rasm {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e6fcf5;
  padding: 10px;
}

.sss {
  display: flex;
  justify-content: space-between;
}
.jon {
  font-size: 18px;
  font-weight: 600;
  color: #495057;
}
.ioi {
  filter: opacity(0.8);
  position: absolute;
  top: 1180px;
  left: 36.8%;
  height: 40px;
  width: 26.5%;
  display: flex;
  gap: 20px;
  background-color: #192129;
  justify-content: center;
  align-items: center;
}
.ioi i {
  font-size: 24px;
  color: white;
}
.rew {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.ccc {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.yoz {
  background-color: #e6fcf5;
  padding: 10px;
  border: 2px solid #0ca677;
}
.imag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.imag img {
  border-radius: 50%;
  width: 30%;
}

.starf {
  color: #0ca677;
}
